<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/option.css">
    <title>opciones</title>
</head>
<body>
    <h1>Registrar</h1>
    <button onclick="location.href='../../views/admin/admin.html'">
        <img src="https://cdn-icons-png.flaticon.com/512/998/998412.png " alt="Profesional" />
    </button>
    <h2>Profesionales</h2>
    <button onclick="location.href='../../views/paciente/paciente.html'">
        <img src="https://cdn-icons-png.flaticon.com/512/709/709699.png" alt="Paciente" />
    </button>
    <h2>Pacientes</h2>
</body>
</html>